/*-- Coloring --*/

body {
    background-color: #F4F5F0;
}

.custom-green {
    background-color: #008C45;
}

.custom-green-text {
    color: #008C45;
}

.custom-red {
    background-color: #CD212A;
}

.custom-red-text {
    color: #CD212A;
}

.custom-white {
    background-color: #F4F5F0;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

/*-- Parallax --*/

.parallax-container {
    height: 400px;
  }